@font-face {
	font-family: 'Gabriola';
	src: url('../fonts/gabriola.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gabriola.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gabriola.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gabriola.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gabriola.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gabriola.svg#gabriola') format('svg'); /* Chrome < 4, Legacy iOS */
}